<mat-expansion-panel style="margin-bottom: 2rem;">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Add a new travel.
        </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="d-flex flex-row justify-content-start flex-wrap">
        <div class="col-md-3 w-25">
            <label for="country">Country</label>
            <input class="form-control ml-3" type="text" id="country" #countryInput>
        </div>
        <div class="col-md-3 w-25">
            <label for="city">City</label>
            <input class="form-control ml-3" type="text" id="city" #cityInput>
        </div>
        <div class="col-md-3 w-25">
            <label for="dateBegin">Begin</label>
            <input class="form-control ml-3" type="date" id="beginDate" #beginDateInput>
        </div>
        <div class="col-md-3 w-25">
            <label for="dateEnd">End</label>
            <input class="form-control ml-3" type="date" id="dateEnd" #endDateInput>
        </div>
    </div>
    <button style="margin-top: 20px;" (click)="emitTravel(beginDateInput, endDateInput)" mat-stroked-button
        color="primary">Add Travel</button>
</mat-expansion-panel>