<mat-card>
    <mat-card-header>
        <div class="container">
            <div class="row">
                <div class="col-6 displayTable">
                    <mat-card-title>Display Travels</mat-card-title>
                </div>
                <div class="col-6 sorter">
                    <app-sort-dropdown
                    [dataSource]="dataSource"
                    (selectionChange)="handleDataSorted($event)">
                </app-sort-dropdown>
                </div>
            </div>
        </div>


    </mat-card-header>
    <mat-card-content>
        <table #table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
        
            <ng-container matColumnDef="country">
                <th mat-header-cell *matHeaderCellDef> Country </th>
                <td mat-cell *matCellDef="let element"> {{element.country}} </td>
            </ng-container>
        
            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef> City </th>
                <td mat-cell *matCellDef="let element"> {{element.city}} </td>
            </ng-container>
        
            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef> Start Date </th>
                <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
            </ng-container>
        
            <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef> End Date </th>
                <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
            </ng-container>
        
            <ng-container matColumnDef="activities">
                <th mat-header-cell *matHeaderCellDef> Activities </th>
                <td mat-cell *matCellDef="let element"> {{getTravelValue(element.activities)}} </td>
            </ng-container>
        
            <ng-container matColumnDef="rating">
                <th mat-header-cell *matHeaderCellDef> Rating </th>
                <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
            </ng-container>
        
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element">
                    <button class="test" type="submit" mat-stroked-button color="primary" (click)="onOpenClick(element.id)">Open</button>
                 </td>
            </ng-container>
        

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row 
                (click)="handleRowClick(row)"
                [class.demo-row-is-clicked]="clickedRows.has(row)"
                *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="button-group">
            <button type="button" mat-stroked-button color="primary" (click)="onNewClick()">New</button>
            <button type="button" mat-stroked-button color="warn" (click)="onDeleteClick()">Delete</button>
        </div>
        <mat-error id="deleteError" *ngIf="deleteDialogError">{{errorText}}</mat-error>
    </mat-card-content>
</mat-card>
