/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    /* background-color: rgb(208, 231, 231); */
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacing {
    padding: 20px 50px 0px 50px;
}

.responsive-form-fields {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    gap: 4%;
    margin-bottom: 20px;

    >* {
        flex-grow: 1;
    }
}

.button-group {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 200px;
}